.values {
	@include adaptiveValue("padding-top", calc($p-big /2), calc($p-small / 2));
	@include adaptiveValue("padding-bottom", calc($p-big /2), calc($p-small / 2));

	&__body {
		display: flex;
		justify-content: space-between;
		gap: toRem(20);

		@media (max-width:$tablet) {
			align-items: end;
			justify-content: space-around;
		}
	}

	&__img-min {
		max-width: toRem(183);
		width: 100%;
		min-height: toRem(186);
		height: 100%;

		img {
			object-fit: cover;
			width: 100%;

			@media (max-width:$mobileSmall) {
				min-height: initial;
				height: toRem(186);
			}
		}
	}

	&__info-item {
		max-width: toRem(431);
		width: 100%;

		@media (max-width:$tablet) {
			max-width: 100%;
			margin-bottom: toRem(10);
		}
	}

	&__info-label {
		@include adaptiveValue("font-size", 18, 16);
		@include adaptiveValue("margin-bottom", 20, 10);
	}

	&__info-text {
		font-size: toRem(14);

		p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 15, 10);
			}
		}
	}

	&__img-big {
		max-width: toRem(285);
		width: 100%;
		max-height: toRem(297);
		height: 100%;
		object-fit: contain;

		img {
			object-fit: cover;
			width: 100%;

			@media (max-width:$mobileSmall) {
				min-height: initial;
				height: toRem(186);
			}
		}
	}
}