// Заголовки, загальні БЕМ блоки та інше...
.logo,
.footer__logo {
	img {
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.page {
	.stay-with {
		@include adaptiveValue("padding-top", calc($p-big / 2), calc($p-small / 2));
	}
}

.hover {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	line-height: 1;

	&::after {
		content: '';
		width: 95%;
		transform: scale(0);
		height: toRem(1);
		background-color: var(--yellow-color);
		transition: transform 0.5s;
	}

	&:hover {
		&::after {
			transform: scale(1);
		}
	}
}

.btn {
	display: inline-block;
	text-align: center;
	color: var(--main-color, #1E1207);
	font-family: 'Playfair Display';
	font-size: toRem(18);
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	background-color: var(--yellow-color);
	padding: toRem(19);
	min-width: toRem(250);
	transition: background-color 0.3s, box-shadow 0.3s;

	&:hover {
		background-color: #F0AD34;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}

	&:active {
		box-shadow: none;
	}
}

.title {
	color: var(--main-color, #1E1207);
	font-family: 'Playfair Display';
	@include adaptiveValue("font-size", 32, 30);
	line-height: 1.2;
	@include adaptiveValue("margin-bottom", 30, 20);

	&--centered {
		text-align: center;
	}
}